*{
    margin: 0;
    padding: 0;
    
}    
body {
    height: 100vh;
    width: 100%;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Barriecito', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 35px;
    margin-bottom: 10px;
}
a{
    color: #3a5a40;
}
img {
    width: 50px;
    border: 2px solid #e9edc9;
    border-radius: 25px;
    background: #e9edc9;
    margin-bottom: 15px;
    padding: 15px;
}
#goal-message{
    margin-top: 0;
    color: #3a5a40;
    letter-spacing: 3.5px;
    font-size: 45px;
    text-shadow: 1px 1px 0 black;
}
#water-count{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:rgba(255,255,255,0.5);     
    margin: 50px auto;
    height: 550px;
    max-height: 100vh;
}

#water-count h2 {
    margin-bottom: 20px;
}
#water-count h3{
    margin: 0 25px 20px;
    font-size: 40px;
}
#water-count p{
    margin-bottom: 25px;
}
.counter-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-shadow: 1px 1px 0 black;
    font-weight: bold;
    width:50px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 5px black;

}

#minus-btn {
    background: #c1121f;
}

#plus-btn {
    background: #003049;
}

.save-btn, reset-btn{
    margin-bottom: 15px;
    background: #3a5a40;
    color: #e9edc9;
    width: 100px;
}
.reset-btn{
    margin-bottom: 15px;
    background: #c1121f;
    color: #e9edc9;
    width: 100px;
}
#goal{
    display: flex;  
}
#goal h3{
    margin: 25px 6px 0;
    padding: 18px;
    font-size: 35px;
    border: 2px solid #1d3557;
    border-radius: 20px;
    box-shadow: 5px 8px #1d3557;
}

footer{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3a5a40;
}

